@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

$default-color: #369fa4;

:root {
  --sidePadding: 80px;
}

@mixin initPadding($pad) {
  padding-left: $pad;
  padding-right: $pad;
}

@mixin flexContent($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  color: $default-color;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #5eb2b7;
  }
}

.checked {
  color: orange;
}

h1 {
  font-size: 36px;
  font-weight: 800;
}

h2 {
  font-weight: 600;
}

.btn-light {
  background-color: $default-color;
  color: #fff;
  width: 140px;
  border: none;
  &:hover {
    color: #fff;
    background-color: rgba($color: $default-color, $alpha: 0.8);
  }
}

.center {
  @include flexContent(row);
}

#particles-js,
.particle-background {
  background: $default-color;
  position: absolute;
  width: 100%;
  height: 100%;
  // position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}

.heading-box {
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
    margin: 0px;
    color: #666666;
  }
}

//*Header
#header {
  box-shadow: 0px 1px 3px rgba($color: #000000, $alpha: 0.15);
  .head-contact {
    @include flexContent(row);
    justify-content: space-between;
    height: 55px;
    background: $default-color;
    padding: 0px;
    @include initPadding(var(--sidePadding));
    .head-btn-number {
      display: none;
    }
    .head-btn {
      border: 1px solid #fff;
      border-radius: 3px;
      padding: 5px 20px;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #5eb2b7;
      }
    }
    a {
      color: #fff;
      padding: 5px 10px;
    }
  }
  .navbar {
    padding: 0px;
    @include initPadding(var(--sidePadding));
    @include flexContent(row);
    justify-content: space-between;
    height: 65px;
    .navbar-brand {
      display: inline-block;
      @include flexContent(row);
      .navbar-logo {
        height: 50px;
      }
    }
    .navbar-menu {
      display: inline-block;
      .nav-list {
        list-style: none;
        @include flexContent(row);
        justify-content: end;
        margin-bottom: 0;
      }
      .nav-item {
        padding: 5px 0px 5px 24px;
        width: fit-content;
        white-space: nowrap;
      }
      a {
        position: relative;
        color: #333;
        // color: #000;
        font-size: 18px;
        font-weight: 600;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: rgba($color: #fff, $alpha: 0);
          left: 0;
          bottom: 0;
          transform: translateY(10px);
          transition: all 0.3s ease;
        }
        &:hover::after {
          background-color: $default-color;
          transform: translateY(0px);
        }
      }
    }
  }
}

.offcanvas {
  max-width: 50vw;
}

//* Home Styles
.home-welcome {
  position: relative;
  z-index: 1;
  color: #fff;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/Group_46.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    filter: blur(3px);
    z-index: 2;
  }
  .welcome-content {
    width: 100%;
    height: 35rem;
    position: relative;
    padding: 5rem 0 3.5rem;
    @include initPadding(var(--sidePadding));
    z-index: 3;
    p {
      max-width: 500px;
      margin-top: 1.5rem;
    }
  }
}

.about-uka-home {
  .sub-head {
    height: fit-content;
    padding: 5rem 0 3.5rem;
    @include initPadding(var(--sidePadding));
    @include flexContent(column);
    justify-content: center;
    align-items: baseline;
    p {
      width: 90%;
    }
  }
}

.about-uka-content {
  position: relative;
  z-index: 1;
  color: #fff;
  height: fit-content;
  padding: 5rem;
  @include initPadding(var(--sidePadding));
  .content-container {
    position: relative;
    z-index: 3;
    > p {
      width: 90%;
      height: fit-content;
    }

    .uka-services {
      color: #000;
      padding: 2rem;
      background-color: #fff;
      border-radius: 6px;

      margin-top: 50px;
      .service-item {
        padding: 5px 10px 5px 0px;
        @include flexContent(row);
        justify-content: start;
        align-items: start;
        img {
          width: 60px;
          margin-right: 20px;
        }
        > div {
          @include flexContent(column);
          justify-content: center;
          align-items: baseline;
          margin-left: 10px;
          p {
            margin-bottom: 0px;
          }
          a {
            color: $default-color;
          }
        }
      }
    }
  }
}

.home-accounting {
  padding: 100px 0 50px;
  @include initPadding(var(--sidePadding));
  .heading-box {
    position: relative;
    &::before {
      content: "";
      width: 80%;
      position: absolute;
      bottom: -55px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      height: 1px;
      background-color: #666666;
      z-index: 1000;
    }
  }

  .accounting-content {
    display: flex;
    margin-top: 100px;
    height: fit-content;
    > div {
      @include flexContent(column);
      align-items: baseline;
    }
    img {
      margin-left: 60px;
      max-width: 425px;
      height: fit-content;
    }
  }
}

.home-why-us {
  position: relative;
  z-index: 1;
  padding: 5rem 0;
  @include initPadding(var(--sidePadding));
  .home-contact-btn {
    margin-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all 0.3s ease;
    &:hover {
      color: #222;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      letter-spacing: 0.1rem;
    }
  }
  .why-us-content {
    position: relative;
    z-index: 3;
    @include flexContent(row);
    color: #fff;
    img {
      max-width: 415px;
      margin-right: 70px;
    }
    .content-box {
      text-align: right;
      h1 {
        margin-bottom: 2rem;
      }
    }
  }
}

.home-testimonials {
  padding: 7rem;
  @include initPadding(var(--sidePadding));
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .heading-box {
    margin-bottom: 60px;
  }
  .carousel-item {
    padding: 40px 0px 60px;
  }
  .carousel-indicators {
    bottom: -20%;
    button {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: $default-color;
      transition: all 0.3s ease-in-out;
      margin: 0px 8px;
      &:hover {
        background-color: #5eb2b7;
      }
    }
  }
  .testimonial-content {
    img {
      margin-right: 2.5rem;
    }
    > div {
      @include flexContent(row);
      justify-content: baseline;
      margin-bottom: 2rem;
    }
  }
}

//* About Styles
.color-bg {
  background-color: #edfeff;
}

.img-margin-left {
  margin-left: 4rem;
}

.img-margin-right {
  margin-right: 4rem;
}
.sub-header {
  .title {
    background: url("../images/layered-waves-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    height: 12rem;
    padding: 0;
    @include initPadding(var(--sidePadding));
    @include flexContent(row);
    justify-content: start;
    h1 {
      color: #fff;
      text-shadow: 1px 1px 20px #000;
      position: relative;
      z-index: 3;
    }
  }
}
.about-page-content {
  .the-firm {
    display: flex;
    text-align: justify;
    background-color: #fff;
    padding: 5rem 0 3.5rem;
    @include initPadding(var(--sidePadding));
    box-shadow: 0px 1px 5px -2px #666666;
    img {
      margin-left: 4rem;
    }
    h2 {
      margin-bottom: 2rem;
    }
  }
  .about-us {
    padding: 5rem 0 2rem;
    @include initPadding(var(--sidePadding));
    text-align: justify;
    .about-us-content {
      margin-bottom: 3rem;
      display: flex;
      .about-img {
        max-width: 20rem;
      }
    }
    h2 {
      margin-bottom: 2rem;
    }
    // .box-head-2 {
    //   margin-top: 3rem;
    // }
  }
}
.our-teams {
  position: relative;
  .teams-content {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 5rem 0 1rem;
    @include initPadding(var(--sidePadding));
    .team {
      text-align: center;
      text-shadow: 1px 0px 10px #555;
    }
    .team-box {
      border-radius: 6px;
      margin-bottom: 4rem;
      background-color: #fff;
      color: #000;
      padding: 4rem;
      margin: 5rem 0rem;
      display: flex;
      .team-details {
        margin-left: 4rem;
        text-align: justify;
        h3 {
          margin-bottom: 1.5rem;
        }
      }
    }
    .team-imgs {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .social-icons {
        margin-top: 1rem;
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        li {
          margin: 0 0.5rem;
          a {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $default-color;
            @include flexContent(row);
            i {
              color: #fff;
            }
            &:hover {
              background-color: #5eb2b7;
            }
          }
        }
      }
    }
  }
}
.more-info {
  padding: 5rem 0 3.5rem;
  @include initPadding(var(--sidePadding));
  text-align: justify;
  h2 {
    margin-bottom: 1.5rem;
  }
  .more-info-content {
    display: flex;
    img {
      max-width: 30rem;
      margin-left: 4rem;
    }
  }
}

//* Contact Styles
.contact2 {
  color: #8d97ad;
  font-weight: 300;
  padding-bottom: 60px;
  margin-bottom: 170px;
  background-position: center top;

  .container {
    position: relative;
  }
}

.contact2 h1,
.contact2 h2,
.contact2 h3,
.contact2 h4,
.contact2 h5,
.contact2 h6 {
  color: #3e4555;
}

.contact2 .font-weight-medium {
  font-weight: 500;
}

.contact2 .card.card-shadow {
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.4);
}

.contact2 .detail-box .round-social {
  margin-top: 100px;
}

.contact2 .round-social a {
  background: transparent;
  margin: 0 7px;
  padding: 11px 12px;
}

.contact2 .contact-container .links a {
  color: #8d97ad;
}

.contact2 .contact-container {
  @include flexContent(row);
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  top: -250px;
  .card {
    width: 70rem;

    padding-top: 2.2rem;
    h1,
    h4 {
      text-align: center;
    }
  }
}

.contact-img-box {
  padding-right: 1.5rem;
  padding-top: 1rem;
  .contact-img {
    width: 100%;
  }
}

.contact-box {
  .button-box {
    position: absolute;
    padding-top: 1.5rem;
  }
  button[type="submit"] {
    background-color: $default-color;
    &:hover {
      background-color: #5eb2b7;
    }
  }
}

//* Service Styles
.txt_header {
  .services_info {
    padding: 3rem;
    margin: 1rem;
    h2 {
      margin: 0px 0px 2rem;
    }

  }
}

.service_portfolio {
  position: relative;
  padding: 5.5rem;
  .service-container {
    position: relative;
    z-index: 2;
  }
  .portfolio-txt {
    margin: 1rem;
    h2 {
      margin: 0px 0px 1rem;
      padding: 1rem 0 3rem;
      text-align: center;
    }
  .box {
      position: relative;
      width: 65%;
      justify-content: center;
      justify-items: center;
      margin: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      
    }

  .card {
    background-color: #fff;
    width: 400px;
    height: 260px;
    border-radius: 50px;
  }
  }
}

.det-serv-txt {
  padding: 2rem 2rem 0;
  margin:  1rem 0 0;
  margin-left: 5rem;
  
}

.row {
  width: 100%;
  margin: 0;
  padding: 3.5rem 0 4rem;
  @include initPadding(var(--sidePadding));
  h3 {
    margin-bottom: 0.3rem;
    color: $default-color;

  }
}

//*Experiance Styles
.experiance-page-content {
  .container {
    padding: 0;
    margin: 0;
  }
  .row {
    width: 100vw;
    margin: 0;
    padding: 5rem 0 4rem;
    @include initPadding(var(--sidePadding));
    h2 {
      color: $default-color;
    }
    h3
    {
      color: #2AC6CD;
    }
    
  
  }
  
}

//* Thank You Styles
.main-thanku {
  padding: 6rem 0 5rem;
  .thank-you {
    position: relative;
    color: $default-color;
    @include initPadding(var(--sidePadding));
    .thank {
      @include flexContent(column);
      text-align: center;
      justify-content: center;
      h4 {
        margin-bottom: 1rem;
      }
    }
  }
}

//* Coming Soon Style
.main-coming {
  padding: 5rem 0 4rem;
  @include initPadding(var(--sidePadding));
  text-align: center;
  .coming-soon {
    width: 100%;
    justify-content: center;
  }
}
.come {
  @include flexContent(column);
  h1{
    color: $default-color;
  }
}
.come-img{
  margin-top: 2rem;
  width: 359px;
}


//* footer styles
#footer {
  .footer-contact {
    background-color: #edfeff;
    border-top: 1px solid #aafbff;
    padding: 5rem;
    @include initPadding(var(--sidePadding));
    .col-block {
      @include flexContent(column);
      padding: 0px 25px;
      img {
        height: 120px;
      }
      h4 {
        white-space: nowrap;
        margin-top: 40px;
        margin-bottom: 15px;
      }
      p {
        text-align: center;
        margin-bottom: 15px;
      }
      .btn {
        margin-top: 20px;
        width: 10rem;
      }
    }
  }
  .footer-content {
    padding: 110px 0 60px;
    @include initPadding(var(--sidePadding));
    background-color: #2a3b3c;
    .col-xl-5 {
      padding-right: 50px;
    }
    > div {
      padding-bottom: 50px;
    }
    h4 {
      margin-bottom: 30px;
      position: relative;
      font-size: 18px;
      // white-space: nowrap;
      font-weight: 600;
      color: #fff;

      &::after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 50px;
        height: 2px;
        background-color: $default-color;
      }
    }
    p {
      font-size: 16px;
      color: #ffffff99;
    }
    .socials {
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 10px 0 0;
      }
      a {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $default-color;
        color: #fff;
        @include flexContent(row);
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: #5eb2b7;
        }
        i {
          font-size: 18px;
        }
      }
    }
    .footer-list {
      list-style: none;
      padding: 0;
      color: #ffffff99;
      li {
        padding: 4px 0px;
        a {
          color: #ffffff99;
          &:hover {
            color: #ffffff33;
          }
        }
      }
    }
    .contact-details {
      li {
        display: flex;
        margin-bottom: 5px;
      }
      .icon {
        display: block;
        min-width: 40px;
      }
      .address {
        p {
          margin-bottom: 0;
        }
      }
    }
    .copyright {
      text-align: center;
      margin-top: 3rem;
    }
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 991px) {
  :root {
    --sidePadding: 60px;
  }
  #header {
    .navbar {
      .navbar-menu {
        .nav-item {
          padding: 5px 0px 5px 16px;
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
  #footer {
    .footer-contact {
      > div {
        margin-bottom: 4rem;
      }
    }
    .footer-content {
      .col-xl-5,
      .col-xl-2,
      .col-12 {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
  .home-testimonials {
    .carousel-indicators {
      bottom: -10%;
    }
  }
  .contact2 {
    margin-bottom: 19rem;
  }
  .contact-img-box {
    .contact-img {
      display: none;
    }
  }
  .about-page-content {
    // .the-firm {
    //   display: flex;
    //   flex-direction: column-reverse;
    //   .image-box {
    //     @include flexContent(row);
    //     img {
    //       margin: 0 0 4rem;
    //     }
    //   }
    // }
    .about-us {
      .about-us-content {
        @include flexContent(column);
        img.about-img {
          margin: 0 0 3rem;
          max-width: 50vw;
        }
      }
      .col-reverse {
        @include flexContent(column-reverse);
      }
    }
  }
  .our-teams {
    .teams-content {
      .team-containers {
        .team-box {
          flex-direction: column;
          .team-details {
            margin: 0;
          }
        }
      }
    }
  }
  .team-imgs {
    @include flexContent(column);
    margin: 0 0 2rem;
    img {
      width: 40vw;
    }
  }
  .more-info{
    .more-info-content{
      display: flex;
      flex-direction: column-reverse;
      .image-box{
        @include flexContent(row);
        img{
          margin: 0 0 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  :root {
    --sidePadding: 40px;
  }
  .col-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  #header {
    .head-contact {
      .head-menu {
        .head-btn {
          display: none;
        }
      }
    }
    .navbar {
      .navbar-menu {
        .nav-list {
          flex-direction: column;
          justify-content: start;
          align-items: center;
          .nav-item {
            padding: 0;
            width: 100%;
          }
          a {
            font-size: 18px;
            width: 100%;
            height: 4rem;
            @include flexContent(row);
            justify-content: start;
            padding: 0px 20px;
            &:hover {
              background-color: $default-color;
              color: #fff;
            }
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
  .home-accounting {
    .accounting-content {
      position: relative;
      flex-direction: column-reverse;
      .image-box {
        @include flexContent(row);
      }
      img {
        margin: 3rem 0;
      }
    }
  }
  .home-why-us {
    .why-us-content {
      flex-direction: column;
      .image-box {
        @include flexContent(row);
        img {
          margin: 0 0 3rem;
        }
      }
      .content-box {
        text-align: left;
        p {
          text-align: justify;
        }
      }
    }
  }
  .about-page-content {
    .the-firm {
      display: flex;
      flex-direction: column-reverse;
      .image-box {
        @include flexContent(row);
        img {
          margin: 0 0 4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  :root {
    --sidePadding: 20px;
  }
  * {
    font-size: 14px;
  }
  #header {
    .blog-link {
      display: none;
    }
    .head-call {
      a.invis {
        display: none;
      }
      .head-btn-number {
        display: block;
      }
    }
  }
  .home-testimonials {
    padding-bottom: 2rem;
    .testimonial-content {
      > div {
        @include flexContent(column);
        margin: 0 0 4rem;
        img {
          margin: 0 0 2rem;
        }
        .content {
          @include flexContent(column);
          p.review-msg {
            width: 60vw;
            text-align: justify;
          }
        }
      }
    }
    .carousel-indicators {
      bottom: 0;
    }
  }
  .home-accounting{
    .accounting-content{
      .image-box{
        img{
          max-width: 80vw;
        }
      }
    }
  }
  .home-why-us {
    .why-us-content {
      .image-box {
        img {
          max-width: 80vw;
        }
      }
    }
  }
  .team-imgs {
    @include flexContent(column);
    img {
      width: 60vw;
    }
  }
  .about-page-content {
    .about-us {
      .about-us-content {
        @include flexContent(column);
        img.about-img {
          max-width: 80vw;
        }
      }
      .about-us-content.col-reverse{
        @include flexContent(column-reverse);
      }
    }
  }
  .more-info{
    .more-info-content{
      .image-box{
        img{
          margin: 0 0 2rem;
          max-width: 80vw;
        }
      }
    }
  }
  .main-coming{
    .coming-soon{
      .come{
      }
    }
  }
  .come-img{
    width: 80vw;
  }
}